:local(.cellRevealed){
  background: aqua;
  height: 30px;
  width: 30px;
  margin: 2px;
}

:local(.cellNotRevealed){
  background: azure;
  height: 30px;
  width: 30px;
  margin: 2px;
}

:local(.cellFlagged){
  height: 30px;
  width: 30px;
  margin: 2px;
}